<!-- HEADER -->
<app-header></app-header>

<!-- WRAPPER -->
<div class="scrollspy-example bg-body-tertiary rounded-2" data-bs-spy="scroll" data-bs-target="#header-home"
     data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">

  <!-- HOME -->
  <section id="home" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-12 col-lg-12">
          <h1 class="mb-3">Contamos con una amplia gama de puntales con diferentes capacidades de carga<span>.</span>
          </h1>
          <h2>Alquiler y venta de puntales de acero y aluminio.</h2>
        </div>
      </div>
    </div>
  </section>


  <!------------------------------------------------------>
  <!----------------------- ABOUT ------------------------>
  <section id="about" class="about bg-dark">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Nosotros</h2>
        <p class="text-white">TITAN PUNTALES</p>
      </div>

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="./assets/images/home/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <p class="text-white fst-italic">
            Es una empresa ubicada en el Perú, dedicada a la comercialización de materiales, herramientas e insumos para
            los sectores de minería y construcción.
          </p>
          <p class="text-white fst-italic">
            Por muchos años hemos abastecido proyectos mineros y de construcción con grandes y complejas
            infraestructuras.
          </p>
          <p class="text-white fst-italic">
            De esta manera, Industrias Titan ha colaborado con las empresas más prestigiosas y exigentes del rubro
            nacional e internacional.
          </p>
        </div>
      </div>

    </div>
  </section>


  <!------------------------------------------------------->
  <!---------------------- SERVICES ----------------------->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Servicios</h2>
        <p>Conoce nuestros servicios</p>
      </div>

      <!-- LIST SERVICES -->
      <ng-container *ngIf="listServices.length > 0">
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100"
               *ngFor="let service of listServices">
            <div class="icon-box p-4">
              <img class="img-fluid mb-4" src="{{service.photoURL1}}" alt="">
              <h4><a [routerLink]="['/services/view',service.id]">{{service.name}}</a></h4>

              <p>{{service.description}}</p>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row mt-5">
        <div class="col-lg-12 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <p class="fs-5 fst-italic">
            Contamos con servicios de alquiler de los siguientes materiales como puntales metálicos, andamios
            multidireccionales y escuadras estructurales, lo mejor para tu construcción, de alta calidad y mayor
            seguridad en tus obras. Para más información llamanos al 994011708.
          </p>
        </div>
      </div>

    </div>
  </section>


  <!------------------------------------------------------->
  <!---------------------- PRODUCTS ----------------------->
  <section id="portfolio" class="portfolio bg-dark">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Productos</h2>
        <p class="text-white">Checka nuestros productos</p>
      </div>

      <!-- LIST PRODUCTS -->
      <ng-container *ngIf="listProducts.length > 0">
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 portfolio-item" *ngFor="let product of listProducts">
            <div class="portfolio-wrap text-center bg-white">
              <img class="img-fluid w-50" src="{{product.photoURL1}}"
                   alt="{{product.name}}">
              <div class="portfolio-info">
                <h4>{{product.name}}</h4>

                <a [routerLink]="['/products/view', product.id]" title="Más detalles">Ver más</a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </section>


  <!------------------------------------------------------->
  <!---------------------- CONTACTS ----------------------->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <!-- TITLE -->
      <div class="section-title">
        <h2>ContactO</h2>
        <p>ENCUENTRANOS AQUI!</p>
      </div>

      <!-- GOOGLE MAPS -->
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31212.846519653376!2d-76.982525!3d-12.07062!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c645e075f505%3A0x512b992a700b5fc3!2sTitan%20Rieles!5e0!3m2!1ses-419!2spe!4v1687211448292!5m2!1ses-419!2spe"
          width="100%" height="270" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>


      <div class="row mt-5">
        <!-- CONTACT DATA -->
        <div class="col-lg-6">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Ubicación:</h4>
              <p>Av. Prolongación Mariscal Nieto N.º 320 – ATE</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Correo electrónico:</h4>
              <p>gerencia@titanrieles.com
              </p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Teléfonos:</h4>
              <p><a class="text-dark" href="tel:+51994011708">+51 994011708</a></p>
              <p><a class="text-dark" href="tel:+51991792103">+51 991792103</a></p>
              <p><a class="text-dark" href="tel:+51998108653">+51 998108653</a></p>
            </div>
          </div>
        </div>

        <!-- FORM MESSAGE -->
        <div class="col-lg-6 mt-5 mt-lg-0">
          <h4 class="mb-3">Envíanos un mensaje</h4>

          <form [formGroup]="newContactForm" (ngSubmit)="onSubmit()">
            <!-- FULL NAME - EMAIL -->
            <div class="row">
              <div class="col-md-6 form-group">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  formControlName="fullName"
                  placeholder="Nombres y Apellidos"
                  required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  placeholder="Tu correo electrónico"
                  required>
              </div>
            </div>

            <!-- SUBJECT -->
            <div class="form-group mt-3">
              <input
                type="text"
                class="form-control"
                formControlName="subject"
                id="subject"
                placeholder="Asunto"
                required>
            </div>

            <!-- MESSAGE -->
            <div class="form-group mt-3">
            <textarea
              class="form-control"
              formControlName="message"
              rows="5"
              placeholder="Mensaje"
              required></textarea>
            </div>

            <ng-container *ngIf="messageAlert || messageAlert !== ''">
              <div class="alert alert-success mt-3" role="alert">
                {{messageAlert}}
              </div>
            </ng-container>

            <!-- BUTTON SUBMIT -->
            <div class="text-center mt-3">
              <button
                type="submit"
                class="btn btn-warning"
              >
                Enviar mensaje
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>
</div>


<!-- FOOTER -->
<app-footer></app-footer>
