<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-8 col-md-6">
          <div class="footer-info">
            <h5>Siguenos en nuestras redes<span>.</span></h5>

            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100087977940262" target="_blank" class="facebook"><i
                class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Boletín de noticias</h4>
          <p>Suscribete para mantenerte actualizado de nuestros productos y novedades.</p>
          <form action="" method="post">
            <input type="email" name="email" placeholder="Ingresa tu correo electrónico"><input type="submit"
                                                                                                value="Subscribirme">
          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span> TITAN PUNTALES</span></strong>. Todos los derechos reservados.
    </div>
  </div>
</footer>
